html {
    background-color: lightgray;
    
}
h1{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    font-style: italic;
    font-weight: bolder;

}
ol{
    font-weight: bold;
}
p{
    padding-left: 15px;
    padding-top: 20px;
    font-style: italic;
}
ul{
    padding-bottom: 25px;
    padding-top: 10px;
}
.header{background-color: rgb(115, 140, 165);
}
ol>li{
    padding-bottom: 5px;
}